.row.center >.card-selecao{
  margin: 8px 0 0 8px;  
}
.cardDivText{
  text-align: left;
}
.row-selecao {
  margin: 0;
}
.divCard{
  flex: 0 0 24.2%;
  font-size: 13px;
}
.center{
  justify-content: center;
}
.container.col-11 > .row.espaco{
  justify-content: space-between;
  margin: 16px;
}
.contador{
  color: #ffffff;
  font-size: 22px;
}